
/*//////////////////////////////////////////////////////////////////
[ ]*/
html,
body {
  margin: 0;
  
  height: 100vh;
  font-family: "__JetBrains_Mono_c4f6f4", "__JetBrains_Mono_Fallback_c4f6f4";
  font-style: normal;
  font-weight: 100;
}

main {
  width: 100%;
  height: 100vh;
  display: flex;
}

blockquote,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
pre {
  margin: 0;
}

// COLORS
:root {
  --background: #f7f7f7;
  --background-2: #252737;
  --primary: #3a80fa;
  --secondary: linear-gradient(to bottom,#F8E839, #F47630 );
  --white: #ffffff;
  --grey: #777777;
  --grey-light: #f2f2f2;
  --black: #1a1a1a;
  --black-light-1: #ffffff;
  --black-light-2: #d0d0d0;
  --green: #31ee61;
  --red: #f52840;
  --yellow: #ffcc00;
  --blue: #2e394d;
  --max-value: "1000";
  --scroll-color: #f7f7f7;
  --br-xl: 15px;
  --br-s: 12px;
  --bs: rgba(100, 100, 111, 0.116) 0px 1px 8px 0px;
}

[data-theme="dark"] {
  --background: #f7f7f7;
  --background-2: #252737;
  --primary: #3a80fa;
  --secondary: #4cc9f9;
  --white: #ffffff;
  --grey: #777777
  --grey-light: #dedee1;
  --black: #1a1a1a;
  --black-light-1: #ffffff;
  --black-light-2: #d0d0d0;
  --green: #31ee61;
  --red: #f52840;
  --yellow: #ffcc00;
  --blue: #2e394d;
  --max-value: "1000";
  --scroll-color: #f7f7f7;
}
/*//////////////////////////////////////////////////////////////////
[ SCROLLBAR ]*/

::-webkit-scrollbar {
  width: 4px !important;
  height: 4px !important;
}

html[dir] .dark ::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.16);
}

::-webkit-scrollbar-thumb {
  background-color: #dedee1;
  border-radius: 50px;
}

html[dir] .dark ::-webkit-scrollbar-track {
  background-color: initial;
}

::-webkit-scrollbar-track {
  background: var(--scroll-color);
}

/*//////////////////////////////////////////////////////////////////
[ TITLES ]*/

h1 {
  color: var(--black);
  font-size: clamp(10px, 8vw, 25px);
  font-weight: bold;
  line-height: 1.6rem;

 
}

h2 {
  font-size: clamp(8px, 8vw, 20px);  

}

h3 {
  color: var(--black);
  font-size: clamp(6px, 8vw, 15px);
  line-height: 1rem;
  font-weight: 600;

 
}

h4 {
  color: var(--black);
  font-size: clamp(5px, 8vw, 11px);
  font-weight: 100;
 
}

h5 {
  color: var(--black);
  font-size: clamp(4px, 8vw, 9px);
  line-height: 1rem;

}

h6 {
  color: var(--black);
  font-size: clamp(4px, 8vw, 7px);
  line-height: 1rem;
  font-weight: normal;
 
}

p {
  color: var(--black);
  font-size: clamp(6px, 8vw, 10px);
  line-height: 0.9rem;
  font-weight: 100;


}

input {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  font-family: "__Space_Grotesk_2272f2", "__Space_Grotesk_Fallback_2272f2";
  color: var(--black);
}

textarea {
  font-family: "__Space_Grotesk_2272f2", "__Space_Grotesk_Fallback_2272f2";
}

button {
  transition: all 0.5s ease-out;
  cursor: pointer;
  border: none;
  background: transparent;
  font-family: "__Space_Grotesk_2272f2", "__Space_Grotesk_Fallback_2272f2";
}

svg {
  transition: all 0.5s ease-out;
}

::-moz-selection {
  background-color: var(--orange);
  color: var(--white);
}

::selection {
  background-color: var(--black);
  color: var(--white);
}

section {
  width: 100%;
  height: 100vh;
  overflow: auto;
  background-color: var(--background);
 
}
